<button mat-mini-fab color="accent" class="toolbar-avatar" 

              [matMenuTriggerFor]= "avatarDropDown"  [ngStyle] ="{'background-image':'url(' + user?.photoURL +')'}" *ngIf="user"></button>
                <mat-menu #avatarDropDown="matMenu">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>{{user?.displayName}}</mat-card-title>
                            <mat-card-subtitle>{{user?.email}}</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                    <button mat-menu-item (click)="logout()"><mat-icon>exit_to_app</mat-icon>
                        <span>Sign Out</span>
                    </button>
                </mat-menu>